<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite_Smoke_Test_April" verbose="1">
    <listeners>
        <listener class-name="com.globant.Listener1"> </listener>
    </listeners>
    <!--this is the start of the suite -->
    <test name="Smoke Test1">
        <classes>
            <class name="com.globant.AppTest"> </class>
        </classes>
    </test>
</suite>